$main-background-color: #fff;

body {
    background-color: $main-background-color;
    font-family: arial;
}

a { 
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

.error {
    color: #cc0000;
}

